<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <p>
    <h2> Cher(e) Participant(e) ,</h2>
    </p>
    <p>Nous vous confirmons votre inscription au <strong>Hack'prise</strong> en sa 1ère édition au Hackathom de
        <strong>STB</strong>.
    </p>
    <p> Nous vous rappelons également la tenue de l'évènement le <strong> 14 Juillet </strong> à <strong> l'Ecole
            Nationnal des Sciences de l'Informatique au Campus Universitaire de la Mannouba </strong> à <strong> 08:00
        </strong> du matin.</p>
    <p>Pour toute information supplémentaire , veuillez visitez la page de l'évènement <a></a> ou bien contactez
        directement notre page <a href="https://www.facebook.com/ENSI.Junior.Entreprise/"> Facebook .</a></p>
    <p>Dans l'attente de vous compter parmi nous,veuillez accepter l'expresion de nos salutations distinguées.</p>
    <div>

        <img src="eje.png" width="180px">
        <img src="stb.jpg" width="300px">
    </div>
</body>

</html>